<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="banner">
        <img class="img-banner" src="/images/banner.jpg" alt="">
    </div>
    <main>
        <h2 class="promociones">Promociones</h2>
        <div class="rueda-productos">
            <% for(product of products) { %>
                <article class="producto"><a href="/products/productDetail/<%= product.product_id %>">
                    <img src="/images/<%= product.img %>" alt="">
                    <p class="precio">$<%= product.price %></p>
                    <h4 class="titulo-producto-promociones"><%= product.name %></h4>
                    </a>    
                </article>
            <% } %>    
        </div>
        <h2>Algo sobre la pagina</h2>
        <div>Contenido a evaluar</div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>