<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="main-product-detail-div">
                <div class="newProduct">
                    <h1>EDITAR USUARIO</h1>
                    <br>
                    <form action="/user/edit/<%= user.user_id %>?_method=PUT" method="POST">
                        <label for="username" class="newProduct"><b>Nombre de Usuario: <%= user.username %></b></label>
                    <br>
                    <input type="text" name="username" id="username" class="newProduct">
                    <br>
                    <div class="">
                        <button type="submit" class="comprar-ahora">Actualizar</button>
                        <button type="reset" class="comprar-ahora">Borrar cambios</button>
                    </div>
                    </form>
                    <form action="/user/edit/<%= user.user_id %>?_method=PUT" method="POST">
                        <label for="price" class="newProduct"><b>Email: <%= user.email %></b></label>
                    <br>
                    <input type="text" name="email" id="email" class="newProduct">
                    <br>
                    <div class="">
                        <button type="submit" class="comprar-ahora">Actualizar</button>
                        <button type="reset" class="comprar-ahora">Borrar cambios</button>
                    </div>
                    </form>
                    
                    <form action="/user/edit/<%= user.user_id %>?_method=PUT" method="POST">
                    <label for="password" class="newProduct"><b>Contraseña</b></label>
                    <br>
                    <input type="password" name="password" id="password" class="newProduct">
                    
                    <label for="psw-repeat" class="newProduct"><b>Repita Contraseña</b></label>
                    <br>
                    <input type="password" name="psw-repeat" id="psw-repeat" class="newProduct">
                    <br>
                    <div class="">
                        <button type="submit" class="comprar-ahora">Actualizar</button>
                        <button type="reset" class="comprar-ahora">Borrar cambios</button>
                    </div>
                    </form>
                </div>
            </div>     
    </article>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>