<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                    <form action="/products/<%= product.product_id %>?_method=PUT" method="POST">
                        <div class="main-product-detail-div">
                            <div class="newProduct">
                                <h1>EDITAR PRODUCTO</h1>
                                <br>
                                <h3>TITULO ACTUAL: <%= product.name %></h3>
                                <label for="name" class="newProduct"><b>Nuevo tilulo del producto:</b></label>
                                <br>
                                <input type="text" name="name" id="name" class="newProduct">
                                <br>
                                <h3>IMAGEN ACTUAL</h3>
                                <img src='/images/<%= product.img %>' class="img-product-detail"/>
                                <input type="file" name="img" id="img" class="newProduct" accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP" multiple="" autocomplete="off">
                                <br>
                                <H3>PRECIO ACTUAL: <%= product.price %></H3>
                                <label for="price" class="newProduct"><b>Precio</b></label>
                                <br>
                                <input type="text-area" name="price" id="price" class="newProduct">
                                <br>
                                <h3>CATEGORIA ACTUAL: <%= product.category.name %></h3>
                                <label for="category" class="newProduct"><b>Categoria</b></label>
                                <br>
                                <input type="text" name="category" id="category" class="newProduct">
                                <br>
                                <h3>DESCRIPCION ACTUAL</h3>
                                <p><%= product.description%></p>
                                <label for="description" class="newProduct"><b>Descripcion del producto</b></label>
                                <br>
                                <textarea id="description" name="description" class="descripcion-producto2"></textarea>
                                <h3>ACTUALES CARACTERISTICAS DEL PRODUCTO:</h3>
                                <p><%= product.caracteristics%></p>
                                <label for="caracteristics" class="newProduct"><b>Caracteriticas del producto</b></label>
                                <br>
                                <textarea id="caracteristics" name="caracteristics" class="descripcion-producto2"></textarea>
                                <div class="">
                                    <button type="submit" class="comprar-ahora">Actualizar producto</button>
                                    <button type="reset" class="comprar-ahora">Borrar cambios</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="main-product-detail-div">
                        <div class="newProduct">
                            <form action="/products/<%= product.product_id %>?_method=DELETE" method="POST">
                                <button type="submit" class="comprar-ahora" style="color: red">Borrar</button>
                            </form>
                        </div>
                    </div>        
                </article>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>