<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Carrito de Compras</h1>
        <div class="articulos-carrito">
            <% let subtotal = 0 %>    
            <% for(product of products) { %>
            <article class="producto-carrito">    
                <div class="img-producto-carrito">
                    <img src="/images/<%= product.img %>" alt="">
                </div>
                <div class="texto-producto-carrito">
                    <h4><%= product.name %></h4><br>
                    <p class="descripcion-producto"><%= product.description %></p>
                    <select name="cantidad" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <p>$<%= product.price %></p>
                </div>
                
                <button class="eliminar-carrito">Eliminar</button>
            </article>
            <% } %>
            
        </div>
        <div class="product-checkout">
            <% for(product of products) { %> 
            <div class="price-checkout">
                
                <p><%= product.name %></p>
                <p>$<%= product.price %></p>
                
            </div>
            <% subtotal = subtotal + product.price %>
            <% } %>
        </div>
         
        <div class="checkout">
            <div class="subtotal">
                <p>Subtotal</p>     
                <p>$<%= subtotal %></p>
            </div>
            <button class="checkout-button" type="submit">Comprar</button>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>    