<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2 class="promociones">Productos</h2>
        <div class="rueda-productos">
            <% for(product of products) { %>
                <article class="producto"><a href="/products/productDetail/<%= product.id %>">
                    <img src="/images/<%= product.img %>" alt="">
                    <p class="precio">$<%= product.price %></p>
                    <h4 class="titulo-producto-promociones"><%= product.name %></h4>
                    </a>    
                </article>
            <% } %>    
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>